/*título y párrafos*/
h1{
    font-family: 'Playfair Display';
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: white;
    margin-top: 250px;
}

h4{
    font-family: 'Playfair Display';
    color: #707070;
}

p{
    font-family: 'Roboto';
    font-size: 18px;
    color: #323333;
    
}

/* Backgroun img*/
#background-img{
    background-image: url('../img/post-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}


/* colors */
.color_eerie_black{
    color:#121619;
}

.color_jet{
    color:#323333;   
}
    
.color_nickel{
    color: #d56c6a;
}

.color_white{
    color: #ffffff;
}

/* navbar */
.navbar{
    border-radius: 0;
    margin: 0;
}

.navbar-inverse{
    background-color: #121619;
}


.navbar-inverse .navbar-nav{
    color: white;
}