/*título y párrafos*/
h1{
    font-family: 'Playfair Display';
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: white;
    margin-top: 250px;
}

h4{
    font-family: 'Playfair Display';
    color: #707070;
    padding: 25px 0 25px 0;
}

p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    color: #323333;
    line-height: 30px;
    
}
a:hover{
    text-decoration: none;
}
.text-center{
    text-align: center;
}


/* Backgroun img*/
#background-img{
    background-image: url('../img/post-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}


/* colors */
.color-eerieblack{
    color:#121619;
}

.color-jet{
    color:#323333;   
}
    
.color-nickel{
    color: #707070;
}
.color-nickel_background{
    background: #707070;
}

.color-nickel-light_background{
    background: #cccccc;
}
.color-fuzzy-wuzzy{
    color: #D56C6A;
}

.color_white{
    color: #ffffff;
}
.color_
/* navbar */
.navbar{
    border-radius: 0;
    margin: 0;
}

.navbar-inverse{
    background-color: #121619;
}


.navbar-inverse .navbar-nav{
    color: white;
}
/* more pages */

.container__more-pages_right p{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #707070;
}
.container__more-pages_left p{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
    color: #707070;
}

.container__more-pages_left p:hover{
    color: #121619;
}
.container__more-pages_right p:hover{
    color: #121619;
}

.contact__img img{
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    height: 200px;
}

.contact__case_img{
    padding: 50px 0 50px 25px;
}

.contact__case-tittle{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 20px; 
    font-weight: 900;
    color: black;
}
.contact__case-name{
    font-family: 'Roboto';
    font-weight:200;
    font-size: 14px;
    line-height: 30px;
}

.contact__case-web{
    font-family: 'Roboto';
    font-weight:200;
    font-size: 14px;}
}

.contact__case_description{
    padding-top: 50px;
}

.contact__case__description_paragraph p{
    font-family: 'Roboto';
    font-weight:200;
    font-size: 14px;
    line-height: 30px;
    padding-top:25px;
}

/* footer */
footer{
    color: #121619
}

.logo_padding p{
    padding-bottom: 50px;
    padding-top: 50px;
}